@*
    Author: Peter
    Partial View for recipe modal
*@
<div class="container">
    <div class="row">
        <input type="text" id="tbRecipeSearch" class="form-control col-6" placeholder="Search..">
        <button type="button" class="col-3 btn btn-primary btn-sm" id="btnSearchRecipe">Search</button>
        <button type="button" class="col-3 btn btn-primary btn-sm" id="btnFeelingLucky">Auto Suggest</button>
    </div>
    <em class="row" id="loading">Loading..</em>
    <div class="row" id="recipeContainer"></div>

</div>
<script type="text/javascript" src="~/js/User/Recipe.js"></script>
